<div class="container mx-auto max-w-[1320px] px-4 sm:px-6 lg:px-8 mt-5">
  <div class="flex items-center gap-2">
    <div class="bg-red-500 w-4 h-8 rounded-sm"></div>
    <p class="text-red-500 font-bold">Today's</p>
  </div>

  <div class="mt-2 flex flex-col sm:flex-row justify-between items-start sm:items-center gap-4">
    <div class="flex flex-col sm:flex-row items-start sm:items-center gap-4 w-full sm:w-auto">
      <div class="text-2xl sm:text-3xl md:text-4xl font-bold">Flash Sales</div>
      <div class="flex flex-wrap items-center justify-center sm:justify-start gap-2">
        <p class="flex flex-col text-center text-sm sm:text-base md:text-xl font-bold min-w-[60px]">
          <span class="text-xs">Days</span>{{ days | number : '2.0' }}
        </p>
        <span class="text-sm sm:text-base md:text-xl font-bold">:</span>
        <p class="flex flex-col text-center text-sm sm:text-base md:text-xl font-bold min-w-[60px]">
          <span class="text-xs">Hours</span>{{ hours | number : '2.0' }}
        </p>
        <span class="text-sm sm:text-base md:text-xl font-bold">:</span>
        <p class="flex flex-col text-center text-sm sm:text-base md:text-xl font-bold min-w-[60px]">
          <span class="text-xs">Minutes</span>{{ minutes | number : '2.0' }}
        </p>
        <span class="text-sm sm:text-base md:text-xl font-bold">:</span>
        <p class="flex flex-col text-center text-sm sm:text-base md:text-xl font-bold min-w-[60px]">
          <span class="text-xs">Seconds</span>{{ seconds | number : '2.0' }}
        </p>
      </div>
    </div>

    <div class="flex items-center gap-2 self-end">
      <div>
        <button class="bg-gray-300 rounded-full p-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4 sm:size-5 md:size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
            />
          </svg>
        </button>
      </div>

      <div>
        <button class="bg-gray-300 rounded-full p-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4 sm:size-5 md:size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="flashSalesProducts.length > 0; else emptyFlashSalesProducts">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-10 sm:gap-16 md:gap-20 mt-6 mb-10"
    >
      <!-- Dynamic Products -->
      <app-product-card
        *ngFor="let product of flashSalesProducts"
        [product]="product"
        variant="flashsale"
        (addToCart)="onAddToCart($event)"
        (addToWishlist)="onAddToWishlist($event)"
      ></app-product-card>
    </div>
  </div>

    <ng-template #emptyFlashSalesProducts>
    <div class="text-center py-10">
      <h2 class="text-xl font-semibold">No products found</h2>
      <p class="mt-2 text-gray-600">Check back later for recommendations</p>
    </div>
  </ng-template>

    <div class="flex justify-center mt-32 sm:mt-32 md:mt-32">
      <button
        class="bg-red-500 hover:bg-red-600 w-[150px] sm:w-[180px] md:w-[200px] h-[40px] sm:h-[45px] md:h-[50px] text-white px-4 sm:px-5 md:px-6 py-2 sm:py-2.5 md:py-3 rounded-md font-medium text-sm sm:text-base"
      >
        View All Products
      </button>
    </div>
</div>
